<?xml version="1.0"?>
<configuration>
  <appSettings>
      <add key="DUC2001-dirRouge" value="D:\off-line\mineria-de-datos\datos\Evaluacion-ROUGE\DUC2001\evaluacion\"/>
      <add key="DUC2001-dirMatrix" value="D:\off-line\mineria-de-datos\datos\Matrices\DUC2001\"/>
      <add key="DUC2002-dirRouge" value="D:\off-line\mineria-de-datos\datos\Evaluacion-ROUGE\DUC2002\evaluacion\"/>
      <add key="DUC2002-dirMatrix" value="D:\off-line\mineria-de-datos\datos\Matrices\DUC2002\"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>